body{
    margin: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(248, 238, 238);
    padding: 10px 20px;
}
.navigation{
    display: flex;
    justify-content: space-evenly;

}
.navigation li{
    list-style: none;
    display: inline-block;
    
}
.navigation li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 5px;
}
.row{
    display: flex;
}
.column{
    margin: 15px 30px;
}
header h1{
    color: red;
}